# Remove only PyCharm's workspace configuration
workspace.xml

# Remove [I]Python caching
__pycache__
.ipynb_checkpoints/

# Remove Vim temp files
*.sw*

# Remove other unnecessary stuff
*.dot*
*.tar
*.txt
*.jpg
*.png
*.pdf
*.mp4
*.svg
*.pth

# Remove experiments
last
results
*backup
